.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.header .searchbar {
  padding: 0.5rem;
  border-top: none;
  border-right: none;
  border-left: none;
}

.search-icon,
.filter-icon {
  margin: 0 1rem;
}

.filter-icon {
  display: none;
}

.container {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 15vw 80vw;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
}
