:root {
  --primary-color: brown;
  --secondary-color: white;
  --default-color: black;
}

@media screen and (max-width: 786px) {
  .filter-icon {
    display: flex !important;
  }
  .horizontal-card {
    max-width: 25rem !important;
  }
}
